.facts {
  padding: 120px 0 65px 0;

  text-align: center;
  color: #4d4d4d;
  text-transform: uppercase;

  background-color: #ea969f;
  &__title {
    position: relative;

    margin-bottom: 50px;
    padding: 0 18%;
  }
  &__title-lines {
    position: absolute;
    top: -20px;
  }
  &__title-lines--left {
    top: 40px;
    left: -55px;
  }
  &__title-lines--left  img:last-child {
    position: absolute;
    top: auto;
    bottom: 108px;
    left: 150px;
  }
  &__title-lines--right {
    right: 0;
  }
  &__title-lines--right  img:last-child {
    position: absolute;
    right: 120px;
    bottom: 60px;
  }
  & p {
    font-size: 24px;
    line-height: 36px;
  }
  &__ref {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  &__ref-img img {
    max-width: 100%;
  }
  &__ref-text,
  &__ref-img {
    flex-basis: 48%;
  }
  & strong {
    font-weight: 700;
    color: #fad46b;
  }
}
@media @md {
  .facts {
    overflow: hidden;
    & p {
      font-size: 20px;
      line-height: 32px;
    }
  }
}
@media @sm {
  .facts {
    padding: 60px 0;

    & p {
      font-size: 18px;
    }
    &__title-lines {
      opacity: 0.2;
    }
  }
}
@media @xs {
  .facts {
    & p {
      font-size: 16px;
      line-height: 24px;
    }
    &__ref {
      flex-direction: column;
    }
    &__title-lines {
      display: none;
    }
  }
}
