.footer {
  padding: 35px 0 30px 0;

  background: #484848;
  & .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    color: #ffffff;
  }
  &__developer a:hover {
    opacity: 0.6;

    transition: 0.3s;
  }
}
