.how {
  padding: 120px 0 35px 0;
  overflow: hidden;

  text-align: center;

  background-color: #ff868f;
  &__lisence {
    text-decoration: underline;
  }
  & .wrapper > p {
    margin: 0;

    color: #ffffff;
  }
  & h2 {
    margin-bottom: 90px;

    color: #ffffff;
  }
  &__steps {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 70px;
  }
  &__steps-item {
    flex-basis: 20%;
  }
  &__steps-item-img img {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &__steps-item-img {
    position: relative;

    width: 260px;
    height: 260px;
    margin-bottom: 30px;

    background-color: #a88cd5;
    border-radius: 50%;
    box-shadow: 0 0 0 7px #a88cd5;

    transition: 0.3s;
  }
  &__steps-item:first-child &__steps-item-img img {
    left: -31px;
  }
  &__steps-item:nth-child(2) &__steps-item-img img {
    left: -20px;
  }
  &__steps-item:nth-child(3) &__steps-item-img img {
    left: 14px;
  }
  &__steps-item:nth-child(4) &__steps-item-img img {
    left: -9px;
  }
  &__steps-item p {
    display: table;
    width: 100%;

    font-size: 20px;
    text-align: center;
    color: #ffffff;
  }
  &__steps-item-count {
    display: inline-block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    padding: 2px;

    font-weight: 400;
    vertical-align: middle;
    text-align: center;
    color: #b17ebf;

    background: #ffffff;
    border-radius: 50%;
  }
  &__steps-item span {
    display: table-cell;

    vertical-align: middle;
  }
  &__steps-item:hover > &__steps-item-img {
    box-shadow: 0 0 0 14px #a88cd5;
  }
  &__report {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
  }
  &__report .button {
    width: auto;
    margin-left: 50px;
    padding: 11px 55px 8px;
  }
  &__where {
    margin-bottom: 65px;
  }
  &__where-title {
    display: inline-block;
    width: 50%;

    font-size: 36px;
    vertical-align: middle;
    color: #ffffff;
  }
  &__where-places {
    display: inline-block;
    width: 50%;

    vertical-align: middle;
  }
  &__where-places a {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
    padding: 0 20px;

    vertical-align: middle;
  }
  &__where-places a:nth-child(2) {
    padding-top: 20px;
  }
  &__where-places a  img {
    max-width: 100%;
  }
}
@media @lg {
  .how {
    &__steps-item-img {
      width: 200px;
      height: 200px;
    }
    &__steps-item-img img {
      width: 100%;
    }
    &__steps-item:first-child &__steps-item-img img {
      left: -25px;
    }
    &__steps-item:nth-child(2) &__steps-item-img img {
      left: -10px;
    }
    &__steps-item:nth-child(3) &__steps-item-img img {
      left: 7px;

      width: 94%;
    }
    &__steps-item:nth-child(4) &__steps-item-img img {
      left: 0;
    }
  }
}
@media @md {
  .how {
    &__steps {
      flex-wrap: wrap;
    }
    &__steps-item {
      flex-basis: 50%;
      margin-bottom: 50px;

      text-align: center;
    }
    .how__steps-item:last-child {
      margin-bottom: 0;
    }
    &__steps-item-count {
      margin-right: 5px;
    }
    &__steps-item span {
      display: inline;
    }
    &__steps-item-img {
      width: 260px;
      height: 260px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
    &__steps-item:first-child &__steps-item-img img {
      left: -31px;
    }
    &__steps-item:nth-child(2) &__steps-item-img img {
      left: -13px;
    }
    &__steps-item:nth-child(3) &__steps-item-img img {
      left: 11px;

      width: 89%;
    }
    &__steps-item:nth-child(4) &__steps-item-img img {
      left: 0;
    }
    &__where-title {
      width: 100%;
      margin-bottom: 10px;
    }
    &__where-places {
      width: 100%;
    }
  }
}
@media @sm {
  .how {
    padding: 60px 0;
    &__steps {
      margin-bottom: 35px;
    }
    &__steps-item {
      flex-basis: 100%;
    }
    &__report {
      flex-wrap: wrap;
      margin-bottom: 45px;

      text-align: center;
    }
    &__report img {
      flex-basis: 100%;
      margin-bottom: 30px;
    }
    &__report .button {
      flex-basis: 40%;
      margin: 20px;
    }
    &__where-title {
      font-size: 22px;
    }
  }
}
@media @xs {
  .how {
  }
}
