.intro {
  padding: 20px 0 60px 0;

  background-color: #fad46b;
  &__compare-girls,
  &__compare-boys {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  &__compare-boys {
    align-items: flex-end;
    padding-bottom: 55px;
  }
  &__compare-girls h2 {
    line-height: 46px;
  }
  &__compare-buttons {
    padding-bottom: 100px;
    & .button--purple {
      margin-right: 50px;
    }
  }
}
